#fp{
	background:#FFFFFF;
	display:block;
	overflow:hidden;
}

#main-slider{
	overflow:hidden;
}
.product-block {
	display:block;
	float:left;
	margin-top:10px;
}
.product-block h4{
	color: #5f5f5f;
}

#frame{
	width:auto;
}
.product-des{
	display:block;
	color: #5f5f5f;
	font-size: 13px;
	text-align: left;
	padding-bottom: 20px;
	height: 130px;
}
.home-titel {
	margin: -5px 0 25px 0;
		color: #797979 !important;
	font-size: 36px !important;
	font-family: 'OpenSans-Light' !important;
	font-weight: normal;
}
.product-image{
	width:200px;
	margin-right:10px;

}
.product-info{
	float: left;
}
.product-price{
	color:#C76200;
	font-size:13px;
	font-weight:bold;
	display:block;
	margin-top:10px;
}
#popup-des{
	display:none;
	background:none repeat scroll 0 0 #FFFFCC;
	border:1px solid gray;
	padding:5px;
	position:absolute;
	width:200px;
	z-index:110;
}
.slider-button{
	display:none;
	float:left;
	font-size:100px;
	text-decoration:none;
	color:#CCCCCC;
	font-family:"Times New Roman", Times, serif;
}
.slider-button:hover{
	color:#000000;
}


#slider .left{
	left:5px;
	margin-right:5px;
}
#slider .right{
	right:5px;
}
.home-product {
	border: 1px solid #CCCCCC;
	overflow: hidden;
	padding: 20px;
	position: relative;
}
.home-product a {
	float: left;
		position: relative;
	z-index: 1;
}
.home-product h4 {
	font-family: 'OpenSans';
	font-size: 14px;
	text-align: left;
	padding: 25px 0 10px 0;
	height: 70px;
	float: left;

}
.pro-price {
	width: 60%;
	float: left;
}
.pro-button {
	width: 40%;
	right: 15px;
	padding-top: 12px;
	position: absolute;
	z-index: 1;
}