/* CSS3 EFFECTS */

/* FOURTH EFFECTS */

.fourth-effect .mask {
	opacity: 0;
    border:0px solid rgba(0,0,0,0.1);
    visibility:hidden;
}
.fourth-effect:hover .mask {
   	position:absolute; 
	left:0;
    display: inline-block;
    height: 100%;
    width: 100%;
	border: 131px solid rgba(0, 0, 0, 0.02);
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
	opacity:1;
	visibility:visible;
	-moz-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.fourth-effect-list .mask-list {
	opacity: 0;
    border:0px solid rgba(0,0,0,0.1);
    visibility:hidden;
}
.fourth-effect-list:hover .mask-list {
   	position:absolute; 
	top:0;
	left:0;
    display: inline-block;
    height: 100%;
    width: 100%;
	border: 135px solid rgba(0, 0, 0, 0.02);
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
	opacity:1;
	visibility:visible;
	-moz-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.fourth-effect-prohome .pro-home {
	opacity: 0;
    border:0px solid rgba(0,0,0,0.1);
    visibility:hidden;
}
.fourth-effect-prohome:hover .pro-home {
   	position:absolute; 
	top:0;
	left:0;
    display: inline-block;
    height: 100%;
    width: 100%;
	border: 148px solid rgba(0, 0, 0, 0.02);
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
	opacity:1;
	visibility:visible;
	-moz-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

